<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="icon" href="/img/logoENI.png">
</head>
<body>
<!-- Navbar -->
<header>
    <section id="nav-title">
        <h1 ><a href="/" data-th-text="#{nav.h1}"></a>
            <th:block data-th-if="${SpringSession != null}">
                <span data-th-text="${'[' + SpringSession + ']'}"></span>
            </th:block>
        </h1>
        <div>
            <a href="/?language=fr"><img alt="Français" src="/img/French.webp"></a>
            <a href="/?language=en"><img alt="English" src="/img/English.webp"></a>
        </div>
    </section>
    <nav>
        <ul>
            <li><a href="/trainers" data-th-text="#{nav.trainers}"></a></li>
            <li><a href="/trainers/create" data-th-text="#{nav.trainers.create}"></a></li>
            <li><a href="/session" data-th-text="#{nav.session}"></a></li>
            <li><a href="/session/invalidate" data-th-text="#{nav.session.invalidate}"></a></li>
        </ul>
    </nav>
</header>

<main class="center-main">
    <section class="center-section">
        <h1 style="text-align: center" data-th-text="#{index.h1}"></h1>
        <h2 style="text-align: center" data-th-text="#{index.h2}"></h2>
    </section>
</main>
</body>
</html>