<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="icon" href="/img/logoENI.png">
</head>
<body>
<!-- Navbar -->
<header>
    <h1 id="nav-title"><a href="/">Démonstrations Spring Web</a></h1>
    <nav>
        <ul>
            <li><a href="/trainers">Formateurs</a></li>
            <li><a href="/trainers/Create">Création</a></li>
        </ul>
    </nav>
</header>
<main class="center-main">
    <section class="center-section">
        <h1 style="text-align: center">Bienvenue à une formation ENI Ecole</h1>
        <h2 style="text-align: center">Vous utilisez l'application de démonstration sur Spring Web</h2>
    </section>
</main>
</body>
</html>