<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Demo Spring Web</title>
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/demo-form.css">
  <link rel="icon" href="/img/logoENI.png">
</head>
<body>
<header>
  <h1 id="nav-title"><a href="/">Démonstrations Spring Web</a></h1>
  <nav>
    <ul>
      <li><a href="/trainers">Formateurs</a></li>
      <li><a href="/trainers/create">Création</a></li>
    </ul>
  </nav>
</header>
<main>
<form action="/trainers" method="post">
  <h1>Détail du formateur</h1>
  <ul class="flex-outer">
    <li>
      <label for="inputFirstN">Prénom : </label>
      <input type="text" name="firstName" id="inputFirstN" required
             data-th-value="${trainer.firstName}"/>
    </li>
    <li>
      <label for="inputLastN">Nom : </label>
      <input type="text" name="lastName" id="inputLastN" required
             data-th-value="${trainer.lastName}"/>
    </li>
    <li>
      <label for="inputEmail">Email : </label>
      <input type="text" name="email" id="inputEmail" required
             data-th-value="${trainer.email}"/>
    </li>
    <!-- Ajout liste des cours d’un formateur -->
    <li><label>Cours : </label>
      <ul >
        <li data-th-each="current : ${trainer.lstCourses}" data-th-text="${current.title}"></li>
      </ul>
    </li>
    <li>
      <button type="submit">Enregistrer</button>
    </li>
  </ul>
</form>
  <!-- Formulaire pour l’ajout d’un cours au formateur -->
  <form action="/trainers/courses" method="post">
    <h1>Ajout d'un cours</h1>
    <ul class="flex-outer">
      <li><input type="hidden" name="email" id="inputEmailHidden" required data-th-value="${trainer.email}"/>
      </li>
      <li><label for="addCourse">Cours : </label>
        <select name="addCourse" id="addCourse">
          <option data-th-each="course : ${allCourses}" data-th-text="${course.id} + ' ' + ${course.title}" data-th-value="${course.id}"></option>
        </select>
      </li>
      <li>
        <button type="submit">Enregistrer</button>
      </li>
    </ul>
  </form>
</main>
</body>
</html>
