<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
</head>
<body>
<h1>Les formateurs de l'ENI</h1>
<a href="trainers/detail?email=abaille@campus-eni.fr">Accéder au détail du formateur</a><br>
<a href="trainers/detail?email">Paramètre n’a pas de valeur associée</a><br>
<a href="trainers/detail">Accéder à la vue sans le paramètre</a><br>
<h2>Variable de la requête : </h2>
<a href="trainers/detail/variable/sgobin@campus-eni.fr">Accéder au détail du formateur</a><br>
<a href="trainers/detail/variable/">Accéder à la vue sans la variable</a>
</body>
</html>