<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/demo-table.css">
    <link rel="icon" href="/img/logoENI.png">
</head>
<body>
<header>
    <h1 id="nav-title">
        <a href="/">Démonstrations Spring Web</a>
        <th:block data-th-if="${SpringSession != null}">
            <span data-th-text="${'[' + SpringSession + ']'}"></span>
        </th:block>
    </h1>
    <nav>
        <ul>
            <li><a href="/trainers">Formateurs</a></li>
            <li><a href="/trainers/create">Création</a></li>
            <li><a href="/session">Connexion</a></li>
            <li><a href="/session/invalidate">Déconnexion</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Les formateurs de l'ENI</h1>
    <table>
        <thead>
        <tr>
            <th>Index</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!—build html table based on trainers →
        <tr data-th-each="current, iter : ${trainers}">
            <td data-th-text="${iter.index}"></td>
            <td data-th-text="${current.firstName}"></td>
            <td data-th-text="${current.lastName}"></td>
            <td><a data-th-href="@{/trainers/detail(email=${current.email})}">Détail</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>

</html>